* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #121214;/* cor do background */

  --base-color: 194;
  --bg-primary-light: hsla(var(--base-color), 100%, 63%, 0.13);/* foi colado hsl */
  --primary-color: hsl(var(--base-color), 100%, 63%);

  --text-color: #FFFFFF;

  font-size: 62.5%;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);

  font-family: 'Roboto', sans-serif;

  display: grid;
  min-height: 100vh;/* estica todo conteudo do body pra cima e baixo */
}

button {
  background-color: transparent;
  border: none;

  cursor: pointer;
}

.hide {
  display: none; /* fez cumir com os itens que não interessam no momento, no caso dois botoes */
}

/* foi pego html */
.play svg path,
.pause svg path,
.sound-on svg path {
  fill: var(--primary-color);
}

button svg {
  width: clamp(3.2rem, 2rem + 12vw, 6.4rem);/*tamanho 3.2rem(minimo), 2rem + 12vw(ideal), 6.4rem(maximo) */
}

main {
  align-self: end; /* faz centralizar */
  justify-self: center;/* habilitado com display grid */
}

#timer {
  font-size: clamp(4rem, 4rem + 10vw, 8.8rem);

  display: flex; /* um elemento ao lado do outro */
  margin-bottom: 1.6rem;
}

#controls {
  background-color: var(--bg-primary-light);

  display: flex; /* um ao lado do outro */
  align-items: center;
  justify-content: center;
  gap: 3.2rem;

  border-radius: 9999px;

  width: clamp(10rem, 10rem + 30vw, 22.8rem);/* clamp pode ser usado com texto tbm, largura da imagem */
  height: clamp(8rem, 5rem + 10vw, 10.8rem)
}

footer {
  align-self: end;
  justify-self: end;

  padding: 0 4rem 3.2rem 0;
}